<div>
  <form>
    <div class="row">
      <div class="input-field col s12">
        <input [(ngModel)]="login.Login" name="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input [(ngModel)]="login.Senha" name="password" type="password" class="validate">
        <label for="password">Senha</label>
      </div>
    </div>
    {{NomeUser}}
  </form>
  <button (click)="Login(login)" class="waves-effect green waves-light btn">Login</button>
  <button (click)="CadastrarLoginEmailPassword(login)" class="waves-effect light-green waves-light btn">Cadastrar</button>
  <button (click)="cadastrarGoogle()" class="waves-effect waves-light btn blue">Login com Gmail</button>
</div>
<br>