<nav class="light-green darken-4" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" [routerLink]="['/']" class="brand-logo"><img src="../favicon.ico" alt=""></a>
    <ul class="right hide-on-med-and-down ">
      <li><a [routerLink]="['/Login']">Login</a></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li><a [routerLink]="['/Login']">Login</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
      <router-outlet></router-outlet>
  </div>
</div>
<footer class="page-footer light-green lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Descrição</h5>
        <p class="grey-text text-lighten-4">Aplicação criada para testar a funcionalidade de autenticação do firebase.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
  </div>
</footer>
